    <h3>Votre annonce</h3>

    <form name="{{ form.vars.name }}" method="post" enctype="multipart/form-data">
        {{ form_errors(form) }}
        {% if form.date is defined %}
        <div class="form-group" style="width:50%;padding:0px 15px">
            {{ form_row(form.date) }}
        </div>
        {% endif %}
        <div class="form-group {% if not form.title.vars.valid %}has-error{% endif %}" style="width:50%;padding:0px 15px">
            <label for="{{ form.title.vars.id }}" class="required">{{ form.title.vars.label }}</label>
            <input type="text" id="{{ form.title.vars.id }}" name="{{ form.title.vars.full_name }}" required="required" class="form-control" value="{{ advert.title }}">
            {% if not form.title.vars.valid %}
            <div class="alert alert-danger">
                {{ form_errors(form.title) }}
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if not form.author.vars.valid %}has-error{% endif %}" style="width:50%;padding:0px 15px">
            <label for="{{ form.author.vars.id }}" class="required">{{ form.author.vars.label }}</label>
            <input type="text" id="{{ form.author.vars.id }}" name="{{ form.author.vars.full_name }}" required="required" class="form-control" value="{{ advert.author }}">
            {% if not form.author.vars.valid %}
            <div class="alert alert-danger">
                {{ form_errors(form.author) }}
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if not form.email.vars.valid %}has-error{% endif %}" style="width:50%;padding:0px 15px">
            <label for="{{ form.email.vars.id }}" class="required">{{ form.email.vars.label }}</label>
            <input type="email" id="{{ form.email.vars.id }}" name="{{ form.email.vars.full_name }}" required="required" class="form-control" value="{{ advert.email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="example@domain.com">
            {% if not form.email.vars.valid %}
            <div class="alert alert-danger">
                {{ form_errors(form.email) }}
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if not form.content.vars.valid %}has-error{% endif %}" style="width:100%;padding:0px 15px">
            <label for="{{ form.content.vars.id }}" class="required">{{ form.content.vars.label }}</label>
            {% if not form.content.vars.valid %}
            <div class="alert alert-danger" style="width:50%">
                {{ form_errors(form.content) }}
            </div>
            {% endif %}
            <textarea id="{{ form.content.vars.id }}" name="{{ form.content.vars.full_name }}" required="required" class="form-control" rows="10">{{ advert.content }}</textarea>
        </div>
        <div class="form-group {% if not form.published.vars.valid %}has-error{% endif %}" style="width:50%;padding:0px 15px">
            <label for="{{ form.published.vars.id }}">{{ form.published.vars.label }}</label>
            <input type="checkbox" id="{{ form.published.vars.id }}" name="{{ form.published.vars.full_name }}" value="1" {% if form.published.vars.checked %}checked="checked"{% endif %}>
            {{ form_errors(form.published) }}
        </div>
         <div class="form-group" style="width:100%;padding:0px 15px">
            <label>{{ form.categories.vars.label }}</label>
            {{ form_errors(form.categories) }}
            <div id="{{ form.categories.vars.id }}" class="form-group col-md-12 {% if not form.categories.vars.valid %}has-error{% endif %}">
            {% for children in form.categories.children %}
                <div class="col-md-4">
                    <input type="checkbox" id="{{ children.vars.id }}" name="{{ children.vars.full_name }}" value="{{ children.vars.value }}" {% if children.vars.checked %}checked="checked"{% endif %}>
                    <label for="{{ children.vars.id }}">{{ children.vars.label }}</label>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="form-group col-md-6 {% if not form.image.vars.valid %}has-error{% endif %}">
            <label for="{{ form.image.url.vars.id }}">{{ form.image.vars.label }}</label>
            <input type="file" id="{{ form.image.file.vars.id }}" name="{{ form.image.file.vars.full_name }}"  class="form-group">
            <input type="url" id="{{ form.image.url.vars.id }}" name="{{ form.image.url.vars.full_name }}" placeholder="URL" value="{% if advert.image is not null %}{{ advert.image.url }}{% endif %}" class="form-control">
            <input type="text" id="{{ form.image.alt.vars.id }}" name="{{ form.image.alt.vars.full_name }}" placeholder="Alternative text" value="{% if advert.image is not null %}{{ advert.image.alt }}{% endif %}" class="form-control">
        </div>
        <div class="form-group col-md-6">
            {% if advert.image is not null %}
                <label>Preview</label>
                <br>
                <img src="{% if advert.image.extension is not null %}{{ asset(advert.image.webPath) }}{% else %}{{ advert.image.url }}{% endif %}" alt="{{ advert.image.alt }}" height="60"><br>
                <br>
            {% endif %}
        </div>
        <div class="col-md-12"> </div>
        <div class="form-group col-md-6 text-center">
            <button type="reset" id="{{ form.cancel.vars.id }}" name="{{ form.cancel.vars.full_name }}" class="btn btn-cancel">
                <i class="glyphicon glyphicon-remove-circle"></i>
                {{ form.cancel.vars.label }}
            </button>
        </div>
        <div class="form-group col-md-6 text-center">
            <button type="submit" id="{{ form.save.vars.id }}" name="{{ form.save.vars.full_name }}" class="btn btn-success">
                <i class="glyphicon glyphicon-ok-sign"></i>
                {{ form.save.vars.label }}
            </button>
        </div>
        {{ form_widget(form._token) }}
    </form>
{{ dump(form.title) }}
{{ dump(form.author) }}